*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  user-select:none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* body,html{
  width:1001vw;
  height:1001vh;
} */
.container{
  width:100vw;
  min-height: 100vh;
  background:#5c26d9;
  transition: 0.5s;
}
/* .container.dark{
  background:#222;
} */